{
  "channels": {
    "temp": {
      "description": "Temp",
      "display_name": "Temp",
      "properties": {
        "data_type": "TEMPERATURE",
        "data_unit": "DEG_CELSIUS",
        "device_diagnostic": false,
        "max": null,
        "min": null,
        "precision": 3
      }
    },
    "humid": {
      "description": "Humidity",
      "display_name": "Humidity",
      "properties": {
        "data_type": "HUMIDITY",
        "data_unit": "PERCENT",
        "device_diagnostic": false,
        "max": null,
        "min": null,
        "precision": 3
      }
    },
    "press": {
      "description": "Pressure",
      "display_name": "Pressure",
      "properties": {
        "data_type": "PRESSURE",
        "data_unit": "MIL_BAR",
        "device_diagnostic": false,
        "max": null,
        "min": null,
        "precision": 3
      }
    }
  }
}
